@import url('default.icon.css');
html,body{width:100%;height: 100%; font-family:'Microsoft YaHei';text-shadow:none;min-width:1000px;overflow:hidden}
html a:focus,body a:focus{outline:none !important}
.out-container{position:relative;overflow:hidden;height:100%;}
input[type="text"]::-ms-clear{
    display:none;
}
ul li{list-style-type:none;}
/************** toppanel *********************/
.toppanel{background-color:#64c8ff}
.nav-row{position:absolute;width:100%;z-index:1600;}
.nav-row nav{font-size:13px;border-radius:0px; border:none !important;margin-bottom:0;border-color:transparent;}
.navbar-container {height:60px;padding-top:18px;background-color: #64c8ff;  border-bottom: solid 1px #505050;}
.navbar-header{margin-right:0 !important;float:left;margin-left:-15px !important;height:60px;margin-top:-18px;  padding-left: 20px;line-height: 70px;background-image:url(../images/layout/titlebg.png);background-size:100% 57px;background-repeat:no-repeat;width:270px;}
.navbar-header-home{font-size: 30px !important;color: #28aadc;height: 60px;margin-right:10px;background-color: #fff;border-radius: 25px;padding: 6px;cursor: pointer;
                    position:relative;z-index:2000; behavior:url(../../../plugins/ie-css3.htc);}
.navbar-header-home:hover{background-color:#f05028;color:#fff;}
.navbar-header-title{width: 122px;height: 24px;vertical-align: baseline;}
.navbar-form{position:absolute;left:270px;top:16px;  border:none;float:left;padding:0;margin-bottom:10px;margin-top:0px;margin-left: 0px;margin-right:5px;z-index: 1600;}
.navbar-form>div{position:relative;width:100%;margin-bottom:0 !important;}
.nav-search{position:absolute;color:#abdae1;height:100%;vertical-align:middle;right: 10px; top: 2px;cursor: pointer;}
.nav-search span{font-size:20px !important}
.nav-search:hover{text-decoration:none}
.navbar-form input{color:#505050;background-color:white;padding-left:10px;margin-top:-3px;border-radius: 15px 15px !important;width: 300px !important;height:30px;}
input::-webkit-input-placeholder{color:#abdae1 !important;}
input:-moz-placeholder{color:#abdae1 !important;}
input::-moz-placeholder{color:#abdae1 !important;}
input:-ms-input-placeholder{color:#abdae1 !important;}
.nav-row nav .navbar-text{float:left;padding:0;text-align:center;line-height:30px;height:30px;width:60px;background-color:#28aadc;border-radius:20px; margin-bottom:0;margin-top:0;margin:0 0;margin-top:-2px;cursor: pointer;color:white;}
.nav-row nav .navbar-text:hover{background-color:white;color:#505050;}
.navbar-text-active{background-image:url(../../images/layout/search02-butt.png)!important;}
.navbar-default .navbar-nav{margin-top:-18px;float:right;margin-bottom:0;}
.navbar-default .navbar-nav>li{float:left;margin-top:15px;margin-right:5px;}
.navbar-default .navbar-nav > li > a{color: white;}
.navbar-default .dropdown-toggle{color: white;width: 110px;height:30px;border:none;text-align:center;background-color: #32b4ff;border-bottom:none;padding-top: 6px;padding-right: 5px;border-radius:3px;padding-left: 13px;}
.navbar-default .dropdown-menu-toggle{width: 110px;color: black !important;text-align:center;height:30px;background-color: white !important;border:solid 1px #787878;border-radius:3px;border-bottom-left-radius: 0 !important;border-bottom-right-radius: 0 !important;padding-top: 6px;padding-right: 5px;border-radius:3px;padding-left: 13px;border-bottom: none;}
.message-notice{position:absolute;display:none;font-style:normal;text-align:center;line-height:20px;height:20px;min-width:20px;background:url(../images/layout/u107.png) no-repeat;background-size:100%;border-radius:20px 20px;top:10px;left:30px;}
/*
.navbar-default .navbar-nav>li:last-child > a{ padding-bottom:3px;height:40px;width:110px;background-color:#fff;color: black;}
.navbar-default .navbar-nav > li:last-child{margin-top:9px;}
*/
.navbar-default .navbar-nav .dropdown > a{ padding-bottom:3px;height:40px;width:110px;background-color:#fff;color: black;}
.navbar-default .navbar-nav .dropdown{margin-top:9px;}

.dropdown-menu{margin-left:1px;width: 110px;border-radius:3px;border:none;border-left:solid 1px #787878;border-right:solid 1px #787878; padding-top:0;padding-bottom:0;margin:0;overflow:hidden;display:block;height:0;min-width:100px;-webkit-transition:height .25s ease-in-out;-o-transition:height .25s ease-in-out;transition:height .25s ease-in-out}
.dropdown-menu li{position:relative;overflow:hidden;}
.dropdown-menu>li:last-child{padding-bottom:10px !important}
.dropdown-menu>li>a{color:#505050;text-align:left;line-height:22px;padding:12px 15px 7px 16px;}
.dropdown-menu .two-text-width{padding-left:26px;}

.user-img {margin-left:-10px;margin-right:5px; height:30px;width:30px; border-radius:5px;border:1px solid white;}
.user{position:absolute;padding:0;right:100%;height:50px;top:-9px;overflow:hidden;width:0;-webkit-transition:width .35s ease-in-out;-o-transition:width .35s ease-in-out;transition:width .35s ease-in-out}
.user ul{float:right;height:100%;list-style:none;padding:0;margin:0;background-color:#fff}
.user ul>li{color:#007daa;float:right;height:100%;line-height:50px;background-color:#fff;padding-right:15px;white-space:nowrap}
.user ul>li+li{padding-left:15px}
.out-col{height:100%}
.nav-row>.col-sm-12,.out-col{padding-left:0 !important;padding-right:0 !important}
.leaflet-pseudo-fullscreen {position:fixed!important;width:100%!important;height:100%!important;top:0!important;left:0!important;z-index:99999;}

.body-nav-search { position: fixed; top: 15px; left: 270px;  width: 300px; height: 30px; margin-bottom: 0;z-index: 20;}
.body-nav-search > a { top: 5px; }
.body-nav-search > input { border-radius: 15px; }



/***************** leftpanel ********************************/
.leftpanel{position:absolute;height:100%; min-width:152px;padding-top:92px;z-index:1305}
.leftpanel > div { position: relative; height: 100%; width: 152px;}
.leftpanel > div > p { height: 32px; width: 152px; margin: 0; position: relative; z-index: 2;background-color:#fff; }
.leftpanel > div > p > span { float: left; width: 50%; height: 100%; text-align: center; padding: 5px 0px; background-color: #bec8d2; cursor:pointer;}
.leftpanel > div > p > span.full { width:100%;}
.leftpanel > div > p > span.active { background-color: #64c8ff;cursor:default; }


.shrinknenu {position:relative; width: 32px; height: 32px; margin-top: -32px; margin-left: 151px; background-color: #fff; border-bottom: 1px solid #d2d2d2; border-right: 1px solid #d2d2d2; border-top-right-radius: 4px; border-bottom-right-radius: 4px; cursor: pointer; padding: 8px 7px; font-size: 18px;background-color:#64c8ff;color:#fff;z-index:2; }
.shrinknenu.open {width: 32px; height: 32px; margin-top: -32px; margin-left: 151px; background-color: #fff; border-bottom: 1px solid #d2d2d2; border-right: 1px solid #d2d2d2; border-top-right-radius: 4px; border-bottom-right-radius: 4px; cursor: pointer; padding: 8px 7px; font-size: 18px; background-color:#fff;color:#787878;}


.leftpanelcontent { height: 100%; padding-top: 32px; margin-top: -32px; position: relative; }
.leftpanelcontent > div { height: 100%; display:none;}
.leftpanelcontent.base .leftpanelcontent_base { display:block;}
.leftpanelcontent.subject .leftpanelcontent_subject {width:152px;background-color:#fff; display:block; border-right: 1px solid #d2d2d2;}


.leftpanelcontent_subject > ul { height: 100%; }
.subjectFeature { width: 100%; text-align: center; padding-top: 10px; }
 .subjectFeature > img { width: 80px; height: 60px;padding: 5px 10px;margin-bottom: 5px; }
.subjectFeature > p { margin: 0; }
.subjectFeature:hover > img { border: 1px solid #ff0000; cursor: pointer;}
.subjectFeature:hover > p {color: #f05028; }
.subjectFeature.active > img { border: 1px solid #ff0000; }
.subjectFeature.active > p { color: #f05028; }
/*隐藏主题集菜单栏的滚动条拖曳按钮*/
.leftpanelcontent_subject .mCSB_container { padding: 0; }
.leftpanelcontent_subject .mCSB_scrollTools { width: 1px; }
.leftpanelcontent_subject .mCSB_dragger { display: none!important; }

.leftpanelcontent_base > ul { float: left;height: 100%; list-style: none; }
.leftpanelcontent_base > div { float: left;height: 100%; list-style: none; }
.leftpanelcontent_base_sub { width: 32px;background-color: #bec8d2; }
.leftpanelcontent_base_class { min-width: 119px; }
    

.leftpanelcontent_base_sub a { font-size: 15px; text-align: center; text-decoration: none; position: relative; display: table-cell; vertical-align: middle; height: 110px; color: black; padding: 0px 10px 0px 7px; word-wrap: break-word; word-break: break-all; }
.baseFeatureSub:hover,
.baseFeatureSub.active { color: #fff; background: url(../images/layout/n-xz.png) no-repeat 0px -5px;cursor:pointer; }
.baseFeatureSub:hover > a,
.baseFeatureSub.active > a { color: #fff; }
/*隐藏地图集一级菜单栏的滚动条拖曳按钮*/
.leftpanelcontent_base_sub .mCSB_container { padding: 0; }
.leftpanelcontent_base_sub .mCSB_scrollTools { width: 1px; }
.leftpanelcontent_base_sub .mCSB_dragger { display: none!important; }

#leftpanelcontent_base_class_ul { width: 119px; background-color: #fff; float: left; border-right: 1px solid #d2d2d2;}
.baseFeatureClass { position: relative; width: 119px; color: #787878; padding-top: 10px; border: none; text-align: center; }
.baseFeatureClass > img { width: 80px; height: 60px; border: 2px solid #787878; margin-bottom: 5px; cursor: pointer; }
.baseFeatureClass > p { margin: 0; }
.baseFeatureClass:hover > img { border: 2px solid #f05028; }
.baseFeatureClass:hover > p { color: #f05028; }
.baseFeatureClass > ul { position: absolute; overflow: hidden; text-align: left; left: 119px; top: 0; z-index: 1; width: 0; -webkit-transition: width .35s ease; -o-transition: width .35s ease; transition: width .35s ease;background-color: #fff; border-top: 1px solid #a0a0a0; border-right: none; border-bottom: 1px solid #a0a0a0; border-top-right-radius: 4px; border-bottom-right-radius: 4px; cursor: pointer; }
.baseFeatureClass > ul.active {border-left: 1px solid #d2d2d2; border-right: 1px solid #a0a0a0; width:150px;}
.baseFeatureClass .baseFeatureLayer{ overflow: hidden; width: 150px; text-overflow: ellipsis; -o-text-overflow: ellipsis; -icab-text-overflow: ellipsis; -khtml-text-overflow: ellipsis; -moz-text-overflow: ellipsis; -webkit-text-overflow: ellipsis; border: none; padding: 8px 15px; white-space: nowrap; cursor: pointer; }


.baseFeatureClass .baseFeatureLayer { padding: 8px 10px; white-space: nowrap; cursor: pointer; text-align:left;}
.baseFeatureClass .baseFeatureLayer > span:first-child { margin-right:6px;font-size:10px;visibility:hidden;}
.baseFeatureClass .baseFeatureLayer:hover { color: #f05028; background-color:#e6e6e6;}
.baseFeatureClass .baseFeatureLayer.active { color: #f05028;}
.baseFeatureClass .baseFeatureLayer.active > span:first-child { visibility: visible; }
.list-group-item-img-nodisplay { visibility: hidden; font-size: 10px; margin-right: 6px; }
.list-group-item-img-display { visibility: visible; font-size: 10px; margin-right: 6px;color:#ff0000; }
/*隐藏地图集二级菜单栏的滚动条拖曳按钮*/
.leftpanelcontent_base_class .mCSB_container { padding: 0; }
.leftpanelcontent_base_class .mCSB_scrollTools { width: 1px; }
.leftpanelcontent_base_class .mCSB_dragger { display: none!important; }



.search_content{position:absolute;left:0;width:250px; padding-left:40px;height:100%;top:0;z-index:1400;background-color:#fff;box-shadow: inset -1px 0 5px rgba(128,128,128,0.08),1px 0 5px rgba(128,128,128,0.28);}
.search_content.active{display:block;}
.search_content >a {position:absolute;right:0;z-index:100}
.search_content >div{height:100%;position:relative;}

.search-class .list-group-item{cursor:pointer;}
.search-content{position:absolute;top:0;padding-bottom:45px;width:100%;border-left:none;}
.search-content .list-group{margin-bottom:0;}
.search-class .list-group-item:hover{background:rgba(6, 176, 188, 0.39);}
.search-feature-more{text-align:center;}
.search-class .dd-h{text-align:center;color:white;float:left;display:block;width:21px;height:27px;border:none;background:url(../images/layout/dd-h.png);background-repeat:no-repeat;}
.search-class .list-group-item>div{padding-left:30px;padding-top:2px}
.search-class .search-title{font-size:18px;word-break:break-all;}
.search-class .search-key{color:red}

.search_content .select-from{position:absolute;bottom:0;padding:15px;box-shadow: rgba(37, 32, 32, 0.19) 0 -2px 2px;z-index:1000;background:white}
.search_content .select-from input{margin:-5px 0;border-radius:25px 25px;height:25px}
.search_content .search-class ul{padding-left:0;}

/*.left-panel-hide .mappanel{ padding-left: 40px !important;}*/ 
/*.left-panel-hide .leftpanelcontent{left:-140px !important}*/
.list-group-item>img{border: 2px solid #787878;margin-bottom: 5px;cursor:pointer;}
.list-group-item-selected{ border: 2px solid red !important;}
.list-group-item-text-selected{color:red}
.list-group-item>img:hover{border: 2px solid red;}
.list-group-item>p{margin:0;}

/************************** rightpanel ***************************/
.rightpanel{margin-right:0;position:absolute;padding-top: 92px;z-index:1300;top:0px;right:-400px;width:401px;height:100%;}
.rightpanel .rightpanel-content {position:relative; width:100%; height:100%;}
.rightpanel .result-list-group-button { position:absolute;width:21px; z-index:1;top:25%;left:-24px;}
.rightpanel .result-list-group-button .button {position:relative;z-index:10;text-align: center; width: 25px;height:0px;color: #787878; cursor: pointer;background: url(../images/s-label1.png);}
.button.rightpanel-conten-bz.show{height:50px; cursor: pointer;background: url(../images/layout/bianzhi-colour.png);margin-top:-10px;z-index:4;display:block;}
.button.rightpanel-conten-xm.show{height:50px; cursor: pointer;background: url(../images/layout/xiangmu-colour.png); margin-top:-10px;z-index:3;display:block;}
.button.rightpanel-conten-sx.show{height:50px; cursor: pointer;background: url(../images/layout/shixian-colour.png);margin-top:-10px;z-index:2; display:block;}
.button.rightpanel-conten-ph.show {height:50px; cursor: pointer;background: url(../images/layout/pihou-colour.png); margin-top:-10px;z-index:1;display:block;}
.button.rightpanel-conten-default.show {height:50px; cursor: pointer;background: url(../images/layout/default-colour.png); margin-top:-10px;z-index:1;display:block;}
.rightpanel .result-list-group-button .summ { margin-top: 15px;color: white;font-size: 14px;cursor: pointer; font-weight: normal;}
.rightpanel-conten-bz,
.rightpanel-conten-xm,
.rightpanel-conten-sx,
.rightpanel-conten-default,
.rightpanel-conten-ph { display:none;}
.rightpanel .result-list-group-button .button span{display:table-cell;vertical-align:middle;width: 25px;height:134px;line-height: 17px;}
.rightpanel .result-list-group-button .button .closeBtn{position: absolute;top: 16px;background-color: #a0a0a0;color: white;border-radius: 15px;height: 15px;width: 15px;left: 5px;line-height: 15px;font-size: 12px;}
.rightpanel .result-list-group-button .button span.closeTab2~span { padding-top:8px;}
.rightpanel .result-list-group-button .button .closeBtn:hover{z-index: 10;background-color: #ffb400;}
.rightpanel .result-list-group-button .button .result-attribute-button{ padding-top: 8px;}
.rightpanel .result-list-group-button .button.selected {z-index:200;color: #000000;background: url(../images/s-label2.png);}
.rightpanel .result-list-group-button .button.selected .closeBtn:hover {background-color: #ffb400;}
.rightpanel .result-list-group-button .button.selected .closeBtn {color: #fff; background-color: #ffb400;}

.rightpanel .result-list-group-button .icon-arrows {display: block; -webkit-transform: rotate(0deg);}
.rightpanel .result-list-group { position:absolute;right:0px; width:401px; height:100%; background-color:#fff; border-left:1px solid #a0a0a0;}
.rightpanel .rightpanel-details {position:absolute; top:0px; right:0px; width:400px; height:100%; padding-bottom:92px;}
.rightpanel .rightpanel-details .rightpanel-details-info { position:relative; width:100%; height:100%; background-color:#fff; z-index:1350;}
.rightpane .rightpanel-content .hide{display:none;transition:width 2s;-moz-transition:width 2s; -webkit-transition:width 2s; -o-transition:width 2s; }
.rightpanel .result-list-group-loadflash { position:absolute;right:0px; width:401px; height:100%; background-color:#fff; border-left:1px solid #a0a0a0; z-index:-1;}
/*加载动画*/
.result-list-group-loadflash .loadingFlash { position: absolute;top: 50%;margin-top: -40px;left: 50%;margin-left: -20px;}
/*.result-list-group-loadflash .loadingFlash > img { width: 30px;height: 30px;display: block;}*/
.result-list-group-loadflash .icon-loading { display:block;font-size: 35px; color: #787878;
animation:myfirst 0.8s;
animation-iteration-count: infinite;
animation-play-state: running;
animation-timing-function:linear;
-webkit-animation:myfirst 0.8s; 
-webkit-animation-iteration-count: infinite;
-webkit-animation-play-state: running;
-webkit-animation-timing-function:linear;
-ms-animation:myfirst 0.8s; 
-ms-animation-iteration-count: infinite;
-ms-animation-play-state: running;
-ms-animation-timing-function:linear;
}

.loadingblock {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
}

.loadingblock .loadingFlash {
    position: absolute;
    top: 40%;
    left: 50%;
}
.loadingblock .icon-loading{
    display: block;
    font-size: 35px;
    color: #787878;
    animation: myfirst 0.8s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
    -webkit-animation: myfirst 0.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    -webkit-animation-timing-function: linear;
    -ms-animation: myfirst 0.8s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-play-state: running;
    -ms-animation-timing-function: linear;
}

@keyframes myfirst
{
from {transform: rotate(0deg);-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);}
to{transform: rotate(360deg); -webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);}

}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
from {transform: rotate(0deg);-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);}
to {transform: rotate(360deg);-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);}
}

/********************** mappanel ********************************/
.leaflet-container{background: url(../images/shading.png) repeat !important;}
.mappanel{z-index:10;padding-top:92px;position:relative;padding-left:0px;padding-right:0;height:100%;-webkit-transition:padding .35s ease;-o-transition:padding .35s ease;transition:padding .35s ease;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0)}
.mapone{width:100%;height: 100%;}
.maptow,map.mapthree,.mapfour{display:none}
.map_tow .mapone{width:50%;height:100%;border:2px solid white;padding-right: 0px;padding-left: 0px;}
.map_tow .maptow{display:block;width:50%;height:100%;border:2px solid white;padding-right: 0px;padding-left: 0px;}
.map_tow .mapthree,.map_tow .mapfour{display:none}
.map_three .mapone{width:50%;height:100%;border:2px solid white;padding-right: 0px;padding-left: 0px;}
.map_three .maptow,.map_three .mapthree{display:block;height:50%}
.map_three .maptow{border:2px solid white;padding-right: 0px;padding-left: 0px;}
.map_three .mapthree{border:2px solid white;padding-right: 0px;padding-left: 0px;}
.map_three .mapfour{display:none}
.map_four .mapone,.map_four .maptow,.map_four .mapthree,.map_four .mapfour{display:block;width:50%;height:50%}
.map_four .mapone{border: 2px solid white;padding-right: 0px;padding-left: 0px;}
.map_four .maptow{border:2px solid white;padding-right: 0px;padding-left: 0px;}
.map_four .mapthree{border:2px solid white;padding-right: 0px;padding-left: 0px;}
.map_four .mapfour{border:2px solid white;padding-right: 0px;padding-left: 0px;}
.maplable{border:none;}
.map_active{border: 4px solid #20f1ca !important;}
.map_tow .maplable,.map_three .maplable,.map_four .maplable{border:2px solid #afafaf;width:100%;height:100%;position:absolute;z-index:1000;top:0;right:0;}
.map_tow .maplable.active,.map_three .maplable.active,.map_four .maplable.active{border-color:#20f1ca;border-width:4px;z-index:1002;}
.leaflet-control-attribution a{display:none;}
/******************maplayer*************/
.leaflet-overlay-pane > canvas{z-index:1000}

/******************导航条*************/
 .dropdown-submenu {
            position: relative;
        }
.dropdown-submenu > .dropdown-menus {
            top: 0;
            right: 100%;
            margin-top: 0px;
            margin-left: -1px;
            -webkit-border-radius: 0 0px 6px 6px;
            -moz-border-radius: 0 0px 6px;
            border-radius: 0 0px 6px 6px;
            border:solid 1px #000000
           
        }
.dropdown-submenu:hover > .dropdown-menus {
            display: block;
        }
 .dropdown-submenu > a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #ccc;
            margin-top: 5px;
            margin-right: -10px;
        }
 .dropdown-submenu:hover > a:after {
            border-left-color: #fff;
}
.dropdown-submenu.pull-left {
            float: none;
}
.dropdown-submenu.pull-left > .dropdown-menus {
            right: 100%;
            margin-left: 10px;
            -webkit-border-radius: 0px 0 6px 6px;
            -moz-border-radius: 0px 0 6px 6px;
            border-radius: 0px 0 6px 6px;
}

.dropdown-menus {
          position: absolute;
          width:100px;
top: 0;
right: 0;
z-index: 1000;
display: none;
float: left;
min-width: 110px;
padding: 5px 0;
margin: 2px 0 0;
font-size: 14px;
text-align: left;
list-style: none;
background-color: #fff;
-webkit-background-clip: padding-box;
background-clip: padding-box;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,.15);
border-radius: 4px;
-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
box-shadow: 0 6px 12px rgba(0,0,0,.175);
      }

.dropdown-menus li{position:relative;overflow:hidden;}
.dropdown-menus>li:first-child{}
.dropdown-menus>li>a{color:#505050;text-align:left;line-height:22px;padding:12px 15px 7px 16px;}
.dropdown-menus .two-text-width{padding-left:26px;}

/******************标注*************/
.bz_title{
    font-family:'Microsoft YaHei';
position: absolute;
top: 0px;
width: 380px;
font-size: 15px;
/* left: 5px; */
height: 40px;
text-align: left;
border-bottom: solid 1px #ddd;
background-color:#ebebeb;
border-radius:3px;
 }

.tjbz_name {
    font-family:'Microsoft YaHei';
margin-top: 5px;
margin-left: 20px;
}
  
.clscls{
height: 265px;
left:-105px;
bottom:25px;
}

.clsclsm{
left:-105px;
bottom:30px;
}

.clsclsm a {
right:0px !important;
}

.clsclsm button {
display:none;
    }
    
.bquxiao{
position: absolute;
bottom: 30px;
right:100px;
width: 60px;
height: 26px;
background-color: #d2d2d2;
}
    
.bqueding{
position: absolute;
bottom: 30px;
right: 20px;
width: 60px;
height: 26px;
background-color: #64c8ff;
}

.bqueding:hover {
background-color: #32bcff;  
    }
  
.bj_bz{
position: absolute;
right: 70px;
width: 40px;
height: 20px;
}
    
.sc_bz{
position: absolute;
width: 40px;
height: 20px;
right: 30px;
}

.bz-button {
height: 32px;
border-radius: 4px;
font-family:'Microsoft YaHei';
border-width: 0px;
font-size: 12px;
color: white;
font-weight: normal;
}

.bz-name-content {
font-family:'Microsoft YaHei';
margin-left:10px;
margin-top: -5px;
}

#bz-name {
font-family:'Microsoft YaHei';
margin-left: 5px;
border: solid 1px #d2d2d2;
}

#bz-beizhu {
font-family:'Microsoft YaHei';
width: 310px;
margin-left: 5px;
border: solid 1px #d2d2d2;
resize:none;
}

.bz-close-button {
    font-family:'Microsoft YaHei';
z-index: 1000;
color: #787878 !important;
font-size: 19px !important;
margin-top: 7px;
margin-right: 20px;
}


/*小图标*/
.bl_pic_min {
    float: left;
    height: 120px;
    /*margin-left: -15px;*/
    padding: 6px 5px 0 0;
}

.batchlocate-min  {display: block;width: 30px; height: 25px; background-image: url('../images/水滴汇集.png');}

/*小图标-红色*/
.batchlocate-min-red-picNum1 { background-position: 0px -40px;}
.batchlocate-min-red-picNum2 { background-position: -30px -40px;}
.batchlocate-min-red-picNum3 { background-position: -60px -40px;}
.batchlocate-min-red-picNum4 { background-position: -90px -40px;}
.batchlocate-min-red-picNum5 { background-position: -120px -40px;}
.batchlocate-min-red-picNum6 { background-position: -150px -40px;}
.batchlocate-min-red-picNum7 { background-position: -180px -40px;}
.batchlocate-min-red-picNum8 { background-position: -210px -40px;}
.batchlocate-min-red-picNum9 { background-position: -240px -40px;}
.batchlocate-min-red-picNum10 { background-position: -270px -40px;}


/*小图标-紫色*/
.batchlocate-min-purple-picNum1 { background-position: 0px -106px;}
.batchlocate-min-purple-picNum2 { background-position: -30px -106px;}
.batchlocate-min-purple-picNum3 { background-position: -60px -106px;}
.batchlocate-min-purple-picNum4 { background-position: -90px -106px;}
.batchlocate-min-purple-picNum5 { background-position: -120px -106px;}
.batchlocate-min-purple-picNum6 { background-position: -150px -106px;}
.batchlocate-min-purple-picNum7 { background-position: -180px -106px;}
.batchlocate-min-purple-picNum8 { background-position: -210px -106px;}
.batchlocate-min-purple-picNum9 { background-position: -240px -106px;}
.batchlocate-min-purple-picNum10 { background-position: -270px -106px;}

/*小图标-绿色*/
.batchlocate-min-green-picNum1 { background-position: 0px -172px;}
.batchlocate-min-green-picNum2 { background-position: -30px -172px;}
.batchlocate-min-green-picNum3 { background-position: -60px -172px;}
.batchlocate-min-green-picNum4 { background-position: -90px -172px;}
.batchlocate-min-green-picNum5 { background-position: -120px -172px;}
.batchlocate-min-green-picNum6 { background-position: -150px -172px;}
.batchlocate-min-green-picNum7 { background-position: -180px -172px;}
.batchlocate-min-green-picNum8 { background-position: -210px -172px;}
.batchlocate-min-green-picNum9 { background-position: -240px -172px;}
.batchlocate-min-green-picNum10 { background-position: -270px -172px;}

/*小图标-蓝色*/
.batchlocate-min-blue-picNum1 { background-position: 0px -303px;}
.batchlocate-min-blue-picNum2 { background-position: -30px -303px;}
.batchlocate-min-blue-picNum3 { background-position: -60px -303px;}
.batchlocate-min-blue-picNum4 { background-position: -90px -303px;}
.batchlocate-min-blue-picNum5 { background-position: -120px -303px;}
.batchlocate-min-blue-picNum6 { background-position: -150px -303px;}
.batchlocate-min-blue-picNum7 { background-position: -180px -303px;}
.batchlocate-min-blue-picNum8 { background-position: -210px -303px;}
.batchlocate-min-blue-picNum9 { background-position: -240px -303px;}
.batchlocate-min-blue-picNum10 { background-position: -270px -303px;}

/*小图标，选中*/
.batchlocate-min-picNum1:hover,.batchlocate-min-picNum1.actived { cursor:pointer; background-position: 0px -238px;}
.batchlocate-min-picNum2:hover,.batchlocate-min-picNum2.actived { cursor:pointer; background-position: -30px -238px;}
.batchlocate-min-picNum3:hover,.batchlocate-min-picNum3.actived { cursor:pointer; background-position: -60px -238px;}
.batchlocate-min-picNum4:hover,.batchlocate-min-picNum4.actived { cursor:pointer; background-position: -90px -238px;}
.batchlocate-min-picNum5:hover,.batchlocate-min-picNum5.actived { cursor:pointer; background-position: -120px -238px;}
.batchlocate-min-picNum6:hover,.batchlocate-min-picNum6.actived { cursor:pointer; background-position: -150px -238px;}
.batchlocate-min-picNum7:hover,.batchlocate-min-picNum7.actived { cursor:pointer; background-position: -180px -238px;}
.batchlocate-min-picNum8:hover,.batchlocate-min-picNum8.actived { cursor:pointer; background-position: -210px -238px;}
.batchlocate-min-picNum9:hover,.batchlocate-min-picNum9.actived { cursor:pointer; background-position: -240px -238px;}
.batchlocate-min-picNum10:hover,.batchlocate-min-picNum10.actived { cursor:pointer; background-position: -270px -238px;}



/*地图图标-红色*/
.batchlocate-red-picNum1{background-image: url('../images/水滴汇集.png');background-position: 0px 0px;}
.batchlocate-red-picNum2{background-image: url('../images/水滴汇集.png');background-position: -30px 0px;}
.batchlocate-red-picNum3{background-image: url('../images/水滴汇集.png');background-position: -60px 0px;}
.batchlocate-red-picNum4{background-image: url('../images/水滴汇集.png');background-position: -90px 0px;}
.batchlocate-red-picNum5{background-image: url('../images/水滴汇集.png');background-position: -120px 0px;}
.batchlocate-red-picNum6{background-image: url('../images/水滴汇集.png');background-position: -150px 0px;}
.batchlocate-red-picNum7{background-image: url('../images/水滴汇集.png');background-position: -180px 0px;}
.batchlocate-red-picNum8{background-image: url('../images/水滴汇集.png');background-position: -210px 0px;}
.batchlocate-red-picNum9{background-image: url('../images/水滴汇集.png');background-position: -240px 0px;}
.batchlocate-red-picNum10{background-image: url('../images/水滴汇集.png');background-position: -270px 0px;}
/*详情时*/
.batchlocate-red-picNum0{background-image: url('../images/水滴汇集.png');background-position: -60px -330px;}

/*地图图标-紫色*/
.batchlocate-purple-picNum1{background-image: url('../images/水滴汇集.png');background-position: 0px -66px;}
.batchlocate-purple-picNum2{background-image: url('../images/水滴汇集.png');background-position: -30px -66px;}
.batchlocate-purple-picNum3{background-image: url('../images/水滴汇集.png');background-position: -60px -66px;}
.batchlocate-purple-picNum4{background-image: url('../images/水滴汇集.png');background-position: -90px -66px;}
.batchlocate-purple-picNum5{background-image: url('../images/水滴汇集.png');background-position: -120px -66px;}
.batchlocate-purple-picNum6{background-image: url('../images/水滴汇集.png');background-position: -150px -66px;}
.batchlocate-purple-picNum7{background-image: url('../images/水滴汇集.png');background-position: -180px -66px;}
.batchlocate-purple-picNum8{background-image: url('../images/水滴汇集.png');background-position: -210px -66px;}
.batchlocate-purple-picNum9{background-image: url('../images/水滴汇集.png');background-position: -240px -66px;}
.batchlocate-purple-picNum10{background-image: url('../images/水滴汇集.png');background-position: -270px -66px;}
/*详情时*/
.batchlocate-purple-picNum0{background-image: url('../images/水滴汇集.png');background-position: -90px -330px;}

/*地图图标-绿色*/
.batchlocate-green-picNum1{background-image: url('../images/水滴汇集.png');background-position: 0px -132px;}
.batchlocate-green-picNum2{background-image: url('../images/水滴汇集.png');background-position: -30px -132px;}
.batchlocate-green-picNum3{background-image: url('../images/水滴汇集.png');background-position: -60px -132px;}
.batchlocate-green-picNum4{background-image: url('../images/水滴汇集.png');background-position: -90px -132px;}
.batchlocate-green-picNum5{background-image: url('../images/水滴汇集.png');background-position: -120px -132px;}
.batchlocate-green-picNum6{background-image: url('../images/水滴汇集.png');background-position: -150px -132px;}
.batchlocate-green-picNum7{background-image: url('../images/水滴汇集.png');background-position: -180px -132px;}
.batchlocate-green-picNum8{background-image: url('../images/水滴汇集.png');background-position: -210px -132px;}
.batchlocate-green-picNum9{background-image: url('../images/水滴汇集.png');background-position: -240px -132px;}
.batchlocate-green-picNum10{background-image: url('../images/水滴汇集.png');background-position: -270px -132px;}
/*详情时*/
.batchlocate-green-picNum0{background-image: url('../images/水滴汇集.png');background-position: -120px -330px;}

/*详情时*/
.batchlocate-orange-picNum0{background-image: url('../images/水滴汇集.png');background-position: -150px -330px;}

/*地图图标-蓝色*/
.batchlocate-blue-picNum1{background-image: url('../images/水滴汇集.png');background-position: 0px -263px;}
.batchlocate-blue-picNum2{background-image: url('../images/水滴汇集.png');background-position: -30px -263px;}
.batchlocate-blue-picNum3{background-image: url('../images/水滴汇集.png');background-position: -60px -263px;}
.batchlocate-blue-picNum4{background-image: url('../images/水滴汇集.png');background-position: -90px -263px;}
.batchlocate-blue-picNum5{background-image: url('../images/水滴汇集.png');background-position: -120px -263px;}
.batchlocate-blue-picNum6{background-image: url('../images/水滴汇集.png');background-position: -150px -263px;}
.batchlocate-blue-picNum7{background-image: url('../images/水滴汇集.png');background-position: -180px -263px;}
.batchlocate-blue-picNum8{background-image: url('../images/水滴汇集.png');background-position: -210px -263px;}
.batchlocate-blue-picNum9{background-image: url('../images/水滴汇集.png');background-position: -240px -263px;}
.batchlocate-blue-picNum10{background-image: url('../images/水滴汇集.png');background-position: -270px -263px;}

.batchlocate-picNum1:hover,.batchlocate-picNum1.actived{ top:-1px; background-position: 0px -198px;}
.batchlocate-picNum2:hover,.batchlocate-picNum2.actived{ top:-1px; background-position: -30px -198px;}
.batchlocate-picNum3:hover,.batchlocate-picNum3.actived{ top:-1px; background-position: -60px -198px;}
.batchlocate-picNum4:hover,.batchlocate-picNum4.actived{ top:-1px; background-position: -90px -198px;}
.batchlocate-picNum5:hover,.batchlocate-picNum5.actived{ top:-1px; background-position: -120px -198px;}
.batchlocate-picNum6:hover,.batchlocate-picNum6.actived{ top:-1px; background-position: -150px -198px;}
.batchlocate-picNum7:hover,.batchlocate-picNum7.actived{ top:-1px; background-position: -180px -198px;}
.batchlocate-picNum8:hover,.batchlocate-picNum8.actived{ top:-1px; background-position: -210px -198px;}
.batchlocate-picNum9:hover,.batchlocate-picNum9.actived{ top:-1px; background-position: -240px -198px;}
.batchlocate-picNum10:hover,.batchlocate-picNum10.actived{ top:-1px; background-position: -270px -198px;}
/*详情时*/
.batchlocate-blue-picNum0{background-image: url('../images/水滴汇集.png');background-position: -180px -330px;}

/*modal提示框*/
.dci-modal .modal-content { width:300px;height:200px; box-shadow: 0 0px 3px rgba(0,0,0,.3);}
.dci-modal .modal-header { height: 40px;font-family: 'Microsoft YaHei';font-size: 15px;border-bottom: solid 1px #ddd;background-color: #ebebeb;border-top-left-radius: 4px;border-top-right-radius: 4px;padding: 8px 10px 8px 15px;color: #000000;}
.dci-modal .modal-body { height: 95px;text-align: center;padding: 35px 15px 0px 15px; color: #787878;}
.dci-modal .modal-footer { border-top: 1px solid #ffffff;}
.dci-btn { width: 60px;height: 32px;color: #ffffff;background-color: #64c8ff; padding: 0;}
.dci-btn:hover { background-color:#32b4ff; color: #ffffff;}
.modal-backdrop {position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 1999;background-color: #000;}
.modal {position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 3000;display: none;overflow: hidden;-webkit-overflow-scrolling: touch;outline: 0;}

/*解决IE和Chrome手型鼠标图标*/
.leaflet-container {cursor: url(../images/cursor/hand.cur), auto; }
.leaflet-dragging .leaflet-container,
.leaflet-dragging .leaflet-clickable {cursor: url(../images/cursor/movehand.cur),move;}



.FullScreen #navbar { display: none; }
.FullScreen .leftpanel,
.FullScreen .mappanel,
.FullScreen .rightpanel,
.FullScreen .leftcontentpanel-content { padding-top: 32px; }


#modal-dialog .modal-dialog {
    position: absolute;
    left: 50%;
}
#modal-dialog .modal-dialog .modal-content {
    left: -50%;
}
.modal-open {
    padding-right: 0 !important;
}
.leaflet-dragging .leaflet-clickable {cursor: url(../images/cursor/movehand.cur),move;}

#map-main .leaflet-control-container .leaflet-left {
    left: 150px;
}

.mCSB_container { padding-right:20px; padding-left:20px;}
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background-color:#64C8FF;}
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: #64C8FF; }

#main-loading{
    position: absolute;
    top: 0px;
    z-index:10000;
	background-color:#218eee;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;    
}
#main-loading #app-loading{
	position: absolute;
	background-repeat: no-repeat;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#main-loading #loading-gif{
	position: absolute;
	background-image: url('../images/loading_c.gif');
	background-repeat: no-repeat;
	width:58px;
	height:29px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.dciClear {
    clear: both;
}