
.control-bamap-zoom {
    display: inline-block;
    position: relative;
    height: 32px;
    top: 0px;
    left: 0px;
    vertical-align: top;
    padding: 0px 0px 0px 0px;
}

    .control-bamap-zoom span {
        background: #000000;
        opacity: 0.75;
        width: 32px;
        height: 32px;
        line-height:32px;
        text-align: center;
        *vertical-align: 50%;
        -moz-border-radius: 15px; /* Gecko browsers */
        -webkit-border-radius: 15px; /* Webkit browsers */
        border-radius: 15px;
        display: inline-block;
        color: white;
        font-size: 8px;
    }

        .control-bamap-zoom span:hover {
            opacity: 0.8;
        }

        .control-bamap-zoom span:last-child {
            margin-left: 8px;
        }
