

.timeslider-control
{
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 50px;
    font-family: 'Microsoft YaHei';
    cursor: default;
}


.time-selector
{
    width: 330px;
    height: 140px;
    display: none;
    background-color: white;
    opacity: 1;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.30);
    float: left;
    margin-right: 60px;
    position: relative;
    top: -40px;
}

.timeslider-tip { 
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -10px;
    top: 10px;
    background: #fff;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-top: 1px solid rgba(0,0,0,0.10);
    border-right: 1px solid rgba(0,0,0,0.10);
}


.yearselector-container
{
    text-align: center;
    margin-left: 0px;
    height: 40px;
}

    .yearselector-container .icon-arrows
    {
        margin-right: -3px;
    }

    .yearselector-container .icon-arrows-right
    {
        margin-left: -2px;
    }

.yearselector-axis
{
    border-bottom: 1px solid #d2d2d2;
    height: 36px;
    display: inline-block;
    width: 80%;
    padding-bottom: 4px;
    margin-top: 15px;
}

.yearselector-block
{
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
}

.yearselector-year
{
    cursor: pointer;
    color: #787878;
    display: block;
    height: 24px;
    width: 35px;
    margin: 4px auto 5px auto;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    border: 1px solid transparent;
    border-radius: 4px;
}

    .yearselector-year:hover
    {
        border: 1px solid #d2d2d2;
        transition: border 0.5s;
        -moz-transition: border 0.5s;
        -webkit-transition: border 0.5s;
        -o-transition: border 0.5s;
    }

    .yearselector-year.selected
    {
        border: 1px solid #f05028;
        background: #f05028;
        color: white;
        transition: background 1s;
        -moz-transition: background 1s;
        -webkit-transition: background 1s;
        -o-transition: background 1s;
    }

        .yearselector-year.selected + .yearselector-pin
        {
            background: #f05028;
            transition: background 1s;
            -moz-transition: background 1s;
            -webkit-transition: background 1s;
            -o-transition: background 1s;
        }

.yearselector-pin
{
    display: block;
    height: 6px;
    width: 6px;
    background: #d2d2d2;
    border-radius: 3px;
    margin: 0px auto;
}

.yearselector-switch
{
    border: 1px solid transparent;
    display: inline-block;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 2px;
    font-size: 14px;
    color: #787878;
    padding-top: 10px;
    margin-left: 4px;
}

.type-group-selector
{
    margin-top: 40px;
    position: relative;
    margin-left: 20px;
}
.type-group-selector label {
    margin: 4px;
    font-family: 'Microsoft YaHei';
    font-size: 12px;
}
.timeslider-control-toggle
{
    background-image: url(../images/controls/grouplayer/timershaft-icon.png);
    width: 40px;
    height: 40px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    float:right;
    position: relative;
}

.timeslider-control-toggle:hover { 
    border:1px solid #f05028;
    border-radius:4px;
}

.time-selector-open .timeslider-control-toggle { 
    border:1px solid #f05028;
    border-radius:4px;
}

.time-body
{
    height: 300px;
    width: 400px;
}

.panel_close
{
    float: right;
    border-radius: 4px;
    /* padding-bottom: 20px; */
    margin-right: 5px;
    margin-top: 12px;
}



    .panel_close:hover
    {
        background-color: red;
        color: #fff;
    }

.layers-group
{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 30px;
}

    .layers-group label
    {
        padding-left: .5em;
        font-weight: normal;
        font-family: 'Microsoft YaHei';
        color: #787878;
        margin: 13px;
    }

.panel div:first-child
{
    padding: 8px 10px !important;
}
