.list-group { width:100%; height:100%;}

.control-queryresult { position:relative; width:100%; height:100%; /*font-family:'Microsoft YaHei';*/}
.queryresult-content{ position:absolute; top:0px; left:0px; padding-bottom:40px; width:100%; height:100%; }

.control-queryresult > .top {height: 40px;width: 100%;display: table;}
.control-queryresult > .top > span { width: 33.33%; height: 100%;display: table-cell; vertical-align: middle; text-align: center; border: 1px solid #d2d2d2; border-left: none; color:#505050;background-color:#ffffff;cursor:pointer;}
.control-queryresult > .top > span.active,.regulatoryplan .top > span:hover { background-color:#ffe6a0;border-color:#ffb400;}

.resultselect {position: relative; width:100%;height:40px; float:right; cursor:pointer;background-color: #ebebeb;color: #000000;padding: 10px 0 10px 20px; z-index: 1330; border-right: 1px solid #FFFFFF;}
.qrtop-left {width:50%;}
.qrtop-right {position: relative; width:50%;height:40px; float:right; cursor:pointer; background-color: #ebebeb;color: #000000;padding: 10px 0 10px 20px; z-index: 1330; border-right: 1px solid #FFFFFF;}
.resultselect#resultselect-span{ transform-origin: 60% 60%;}
.resultselect#spanname{ width:100px;display: block; padding: 10px 0px 10px 20px;}

.resultselect .textContent { float: left;}

.control-queryresult .selected {background-color:#ffb400;color:#000;}

.resultselect-choice{position: absolute;top: 40px;width: 100%;background-color: #f5f5f5; border-bottom:1px solid #b4b4b4;padding:15px 20px; z-index:1329;display: none;}
.resultselect-choice> ul{ margin: 0;padding: 0; width: 100%; display: inline-block;}
.resultselect-choice> ul>li {  float: left; font-size: 12px; min-width: 110px; text-align: center; color: #505050; margin-right: 10px;margin-bottom: 5px; cursor: pointer; }
.resultselect-choice> ul>li:hover{ color: #ffb400;}
.resultselect-choice> ul>li.active{ color: #ffb400;}

.projectselect-choice{position: absolute;top: 40px;width: 100%;background-color: #f5f5f5; border-bottom:1px solid #b4b4b4;padding:15px 20px; z-index:1329;display: none;}
.projectselect-choice> ul{ margin: 0;padding: 0; width: 100%; display: inline-block;}
.projectselect-choice> ul>li {  float: left; font-size: 12px; min-width: 110px; text-align: center; color: #505050; margin-right: 10px;margin-bottom: 5px; cursor: pointer; }
.projectselect-choice> ul>li:hover{ color: #ffb400;}
.projectselect-choice> ul>li.active{ color: #ffb400;}


.queryresult-content .querydiv { width:100%;top: 40px;height: 100%;padding-bottom: 40px;}
.querydiv .resultselect-list {position:relative; width:100%; height:80px;border-top: 1px solid #ebebeb;}
.querydiv .resultselect-list:last-child {border-bottom: 1px solid #ebebeb;}
.resultselect-list .resultselect-list-title {position:absolute; height: 100%;padding: 20px 0px 20px 10px;font-size: 12px;color: #505050; }
.resultselect-list .resultselect-list-title table > tbody > tr > td:first-child {min-width: 80px;}
.resultselect-list .resultselect-list-title table > tbody > tr > td:last-child {padding-left: 3px;}
.resultselect-list .resultselect-list-title table > tbody > tr > td {font-size: 12px; text-align: left; border: none; padding: 0; vertical-align: top;}
.resultselect-list .resultselect-list-body {position:absolute;right: 0px;width: 80px;height: 100%;}
.resultselect-list-body .markdiv { clear: both; position: absolute;top: 0px; height: 40px; width:100%; padding-left:48px; padding-top:10px;}
.resultselect-list-body .markdiv .marker-icon { font-size:20px; color:#d2d2d2;}
.markdiv .marker-icon:hover,.markdiv .marker-icon:active { color:#f05028; }
/*.markerHighLight { color: red;}*/
.resultselect-list-body .view { clear: both; position: absolute;top: 40px; height: 40px; width:100%;text-align:center; padding-top:10px;padding-left: 40px;}
.resultselect-list-body .view span { display:block;width:40px; height:24px;font-size:12px; padding:3px 0px; color:#a0a0a0; border-radius:4px; border:1px solid #d2d2d2; cursor:pointer;}
.resultselect-list-body .view span:hover { background-color:#ffb400; color:#fff; border-color:#fff;}
.resultselect-list:hover { background-color: #ebf5ff; cursor: pointer;}
.control-queryresult .queryresult-content .selected { background-color: #ebf5ff; cursor: pointer;}

.querydiv .emptyResult { margin: 50% auto;text-align: center;}

.queryresult-querypage { position:absolute; bottom:0px; width:100%; height:40px;z-index: 2;}
.queryresult-querypage .querypage { width:100%; height:100%; text-align:center;}
.queryresult-querypage .querypage .pagination { height:100%; padding:8px 0px; margin-left:auto; margin-right:auto; margin-top:0px; margin-bottom:0px;}
.queryresult-querypage .querypage .pagination ul { list-style:none; padding:0px; margin:0px; height:100%; width:auto;}
.queryresult-querypage .querypage .pagination ul li { height:24px; width:24px; margin-right: 8px; float:left;}
.queryresult-querypage .querypage .pagination ul li a{ height:24px; width:24px; display:block; border-radius:50px; color:#000000; padding-top:1px;}
.queryresult-querypage .querypage .pagination ul li a:hover, .queryresult-querypage .querypage .pagination ul li a:active{ background-color:#ffb400; color:#fff; text-decoration:none; }
.pagination .icon-previous-page {display:block; padding-top: 3px;padding-right: 2px;}
.pagination .icon-next-page {display:block;  padding-top: 3px;padding-left: 1px;}

/*属性详情*/
.rightpanel-details-info > .details-title { position:relative; width:100%; height:50px;border-bottom:1px solid #d2d2d2; z-index:1351;}
.rightpanel-details-info .details-title .return { float:left;width:64px; height:100%; padding:12px 18px;}
.rightpanel-details-info .details-title .return > span { font-size:24px; color:#ffb400;cursor:pointer;}
.rightpanel-details-info .details-title .details-title-name { float:left; height:100%; width:275px; font-size:14px; color:#000000; padding:10px 0px;}
.rightpanel-details-info .details-title .details-title-mark { float:right; height:100%; width:60px; padding:15px 20px;}
.details-title-mark > .details-marker-icon { font-size:20px;color:#d2d2d2;}
.details-title-mark > .details-marker-icon:hover {color:red; }
.rightpanel-details-info > .datails-table { position:absolute; top:0px; padding-top:50px; width:100%; height:100%; z-index:1350;}
.rightpanel-details-info > .datails-table > .datails-table-info { position:relative; height:100%; width:100%; padding:20px 0px;}
.rightpanel-details-info > .datails-table > .datails-table-info table{ margin: 0 auto;}
.rightpanel-details-info > .datails-table > table {position:relative; width:100%; height:100%;}
.datails-table .datails-table-info-tr { height:30px; }
.datails-table .datails-table-info-tr td { border:1px solid #d2d2d2;}
.datails-table .key { width:100px; background-color:#f5f5f5; color:#505050; padding:0px 10px;}
.datails-table .key-value { width:260px; color:#505050; padding:0px 10px;    word-wrap: break-word;text-overflow: ellipsis;word-break: break-all;}

/*定位弹出框popup*/
.leaflet-popup-content-wrapper { box-shadow: 0 1px 6px rgba(0,0,0,0.4);border-radius: 4px;}
.leaflet-popup-content { width:280px;}

.dataInfo table { width:100%;}
.dataInfo .proTr:first-child { border-top: 1px solid #d2d2d2;}
.dataInfo .proTr { border-bottom: 1px solid #d2d2d2;border-left: 1px solid #d2d2d2;border-right: 1px solid #d2d2d2;}
.dataInfo .proTd { background: #f5f5f5; border-right: 1px solid #d2d2d2; width: 90px;}
.dataInfo td { padding: 4px 8px 4px 8px; font-size: 12px; color: #787878;}



.queryresult-data-container{ position:absolute; padding-bottom:40px;margin-top: 40px; width:100%; height:100%; }

.queryresult-data-container > .content {width: 100%; height: 100%;padding-bottom: 40px;}
.queryresult-data-container > .bottom {display: flex; position: absolute; bottom: 40px;  height: 30px; width: 100%; z-index: 2;background-color:#fff;}


.queryresult-data-container .percontent {position:relative; width:100%; height:95px;border-bottom: 1px solid #ebebeb;    padding-top: 10px;}

.queryresult-data-container .percontent:hover {background-color: #ebf5ff;cursor: pointer;}

.queryresult-data-container .percontent .percontent-content { padding: 10px 50px 0 30px;}
.queryresult-data-container .percontent-content table >tbody > tr { }
.queryresult-data-container .percontent-content table >tbody > tr > td { font-size: 12px;text-align:left; border: none; padding:0;vertical-align: top;}
.queryresult-data-container .percontent-content table > tbody > tr > td:first-child { min-width: 80px;}
.queryresult-data-container .percontent-content table > tbody > tr > td:last-child { padding-left:3px;}
.queryresult-data-container .percontent .operation { position: absolute;top:0; right: 0; width: 70px; height: 100%;}
.queryresult-data-container .iconMark {display: block; float: right; width: 50px;height: 28px;background-image: url('../images/已处理修编-盖章.png');background-position: -50px 0px;}
.queryresult-data-container .viewDetail {position: absolute; bottom: 10px;right: 0; cursor: pointer; font-size: 12px;border: 1px solid #d2d2d2;border-radius: 4px;padding: 2px 5px;color: #d2d2d2;}
.queryresult-data-container .viewDetail:hover{ color: #fff;background-color: #ffb400;}
.queryresult-data-container .emptyResult{  margin: 50% auto;text-align: center;}


.bianzhi {margin-top: 5px; background-image: url('../images/bianzhi-label.png'); width:26px;height:36px;float: left;}
.shishi {margin-top: 5px; background-image: url('../images/shishi-label.png'); width:26px;height:36px;float: left;}
.pihou {margin-top: 5px;background-image: url('../images/pihou-label.png'); width:26px;height:36px;float: left;}
/*详情*/
.prosearch-detail-title { width: 100%;height: 50px;border-bottom: 1px solid #d2d2d2; background-color: #fff;}
.prosearch-detail-content {height:100%;padding-bottom:50px;}
.prosearch-detail {padding-top: 40px; height: 100%;padding-bottom: 5px;}

.prosearch-detail-title .turnback { font-size: 24px; color: #ffb400;  cursor: pointer;  margin: 13px 0px 13px 18px;  position: absolute;}
.prosearch-detail-title .titlecontent {width: 100%; height: 100%; padding: 13px 20px 0px 50px;}


.prosearch-detail-content .viewWholeLifeCycle {display: block;margin: 10px 0px 20px 0px;width: 120px;height: 30px;border-radius: 4px;background: #ffb400;color: #ffffff;float: right;padding: 4px 8px;cursor: pointer;}

.prosearch-detail-content-temple{margin-top: 20px;width: 100%;}
.prosearch-detail-content-temple:last-child{ margin-bottom: 20px;}
.prosearch-detail-content-temple>div{  width: 100%;height: 20px;font-size: 14px;margin-bottom: 10px;}
.prosearch-detail-content-temple>div>.title{float: left;}
.prosearch-detail-content-temple>div>.operate{float: right;color: cornflowerblue;cursor: pointer;}
.prosearch-detail-content-temple>table{ width: 100%;margin: 0;padding: 0;}
.prosearch-detail-content-temple>table>tbody>tr>td{height: 30px;vertical-align: middle;padding: 0px 0px 0px 8px;}
.prosearch-detail-content-temple>table>tbody>tr>td.tdTitle{ background-color: #f0f0f0;}

.prosearch-detail-content-temple>div>.operate{float: right;color: cornflowerblue;cursor: pointer;}

.prosearch-detail-title .projectBtn{  position: absolute;top: 58px;right: 20px;font-size: 12px; color: #64c8ff;cursor: pointer;}
.prosearch-detail-title .projectBtn:hover { color: #428bca; }

.prosearch-detail-content {height:100%;padding-bottom:50px;}

.prosearch-detail-content table {width: 100%;margin-top: 20px;}
.prosearch-detail-content thead {background-color: #f0f0f0;}

.prosearch-detail-content .baseInfo-title {
    float: left;
    width: 50%;
    font-size: 14px;
    margin: 10px 0px;
    font-weight: bold;
}

.prosearch-detail-content .baseInfo-button {
    float: right;
    width: 50%;
    text-align: right;
    margin: 15px 0px 0px 0px;
}

.prosearch-detail-content .baseInfo-button span {
    font-size: 12px;
    color: #64c8ff;
    cursor: pointer;
    margin-left: 10px;
}

.prosearch-detail-content .baseInfo > table {
    height: 100%;
    width: 100%;
    border-left: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
}

.prosearch-detail-content .baseInfo > table td.key {
    width: 70px;
    text-align: center;
    background-color: #f0f0f0;
}
.prosearch-detail-content .baseInfo > table td {
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    font-size: 12px;
}

.prosearch-detail-content .baseInfo > table td.value {
    padding: 0px 5px;
}
